*{
    margin:0;
    padding: 0;

}
body{
    background-image:url("./wallpaper.png");
    font-family: sans-serif;
}
.main-container{
    width:65%;
    padding:10px;
    margin:auto;
    text-align: center;
    background-color: white;
    background-position: center;
}
.description{
    background-color: black;
    color:white;
}
.heading{
    height: 50px;
    padding:5px;
    text-align: center;
}
.input-container,.output-container{
    margin:40px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sub-heading{
    margin: 2%;
}
.input-field,.output-field{
    width: 50%;
    height: 100px;
}
.input-field{
    border:solid 2px black;
    border-radius: 5%;
    padding:10px;
}

.btn{
    width: 100px;
    height:50px;
    background-color: black;
    color: white;
    margin:1%;
    border: none;
    cursor: pointer;
}
.btn:hover{
    transform: scale(1.1);
}
.about-section{
    height: 35px;
    background-color: black;
    color: white;
    font-size: 20px;
    padding: 5px;
    text-align: center;
}
.about-text{
    margin-top:20px;
    font-size:1.2em;
    padding:20px;
}
@media screen and (max-width:650px){
    .main-container{
        width:90%;
    }
    .input-container,.output-container{
        margin:8px;
    }
    .input-field,.output-field{
        width:100%;
        margin-top:20px;
    }
    .about-text{
        font-size: 1em;
    }
}